
.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
   
}

.white, .green{
    flex: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.white
{
    background-color: white;
}

.green
{
    background-color: green;
}

.row1
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.row2
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;

}
.row3
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.row4
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    
}

